
#loginForm{
  color: white;
}
.show-setup {
 -webkit-transition: 1s linear all; /* Safari/Chrome */
 -moz-transition: 1s linear all; /* Firefox */
 -ms-transition: 1s linear all; /* IE10 */
 -o-transition: 1s linear all; /* Opera */
 transition: 1s linear all; /* Future Browsers */

 /* The animation preparation code */
 opacity: 0;
}

/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.show-setup.show-start {
 /* The animation code itself */
 opacity: 1;
}
