page-settings {

}
div.input-wrapper{

}
.label-ios{
  color: black;
  font-size: 112%;
  padding: 0% 0 0 1%;
}

div.item-inner{
  
    //background-color: #3113d4;

}

.list-ios .item-block .item-inner{
border-bottom: none;
}
